/* poppins-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/poppins-v24-latin-200.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/poppins-v24-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins-v24-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/poppins-v24-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/poppins-v24-latin-800.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Variablen */
/* Style */
body {
  background-color: #8b7ed8;
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
body header {
  background: linear-gradient(135deg, #ff6b6b 0%, #ffb347 100%);
  color: #ffffff;
  max-width: 900px;
  margin: auto;
  padding: 25px 40px;
  border-radius: 20px 20px 0 0;
}
body header h1 {
  font-size: 70px;
  margin: 0;
  text-shadow: #605d7787 3px -1px 5px;
}
@media screen and (max-width: 500px) {
  body header h1 {
    font-size: 40px;
  }
}
body header p {
  margin: 0;
  font-size: 17px;
}
body main {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 0 0 20px 20px;
  background-color: #eeeeee;
}
body main .hidden {
  display: none;
}
body main .suche {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 35px;
  flex-wrap: wrap;
}
body main .suche input {
  border-radius: 40px;
  padding: 15px;
  border: 1px solid #bfbfbf;
  font-size: 16px;
}
body main .suche input#btn {
  background: #7b68ee;
  color: #ffffff;
  border: 2px solid #000000;
  font-weight: 600;
  cursor: pointer;
}
body main .rezept {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .rezept h2 {
  font-size: 40px;
  margin-top: 0;
}
@media screen and (max-width: 500px) {
  body main .rezept h2 {
    font-size: 30px;
  }
}
body main .rezept #smo-bild {
  width: 150px;
  margin-bottom: 20px;
}
body main .rezept #smo-tag {
  color: #ffffff;
  font-weight: 700;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(135deg, #ffb347 0%, #ff67c0 100%);
  margin-bottom: 50px;
  width: fit-content;
}
body main .rezept #listTitel {
  font-size: 25px;
  margin: 0px;
}
@media screen and (max-width: 500px) {
  body main .rezept #listTitel {
    font-size: 20px;
  }
}
body main .rezept #smo-liste {
  padding: 0;
}
body main .rezept #smo-liste li {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #605d7787 3px 3px 5px;
  margin-bottom: 10px;
  min-width: 300px;
  border-left: 5px solid #7b68ee;
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 500px) {
  body main .rezept #smo-liste li {
    min-width: min-content;
    font-size: 16px;
  }
}
